html {
    scroll-behavior: smooth;
}

header img {
    width: 3%;
    height: auto;
    margin-left: 20px;
}

body {
    height: 125vh;
    background-image: url('./images/f0eee9.jpeg');
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
}

#header1 {
    margin-top: 20%;
    color: black;
    font-size: 100px;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

#header2 {
    color: black;
    font-size: 100px;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

#header3 {
    color: black;
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-top: 0%;
}

#header4 {
    color: black;
    font-size: 45px;
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
    font-weight: bold;
    margin-top: 5%;
}

#header5 {
    color: #c70404;
    font-size: 25px;
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
    font-weight: bold;
}

.maintext {
    color: black;
    font-size: 20px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.break {
    margin-bottom: 100%;
    height: 100;
}

#scrolldown {
    font-family: 'Red Hat Display', sans-serif;
    display: inline-block;
    background: #424242;
    color: #f0eee9;
    border: 0;
    border-radius: 4px;
    text-align: center;
    padding: 20px 30px;
    line-height: 1;
    text-decoration: none;
    cursor: default;
    display: flex;
    justify-content: center;
    text-align: center;
}

#scrolldown:hover {
    background: #ddd;
    color: #000;
}

.promo1 {
    display: block;
    width: 75%;
    object-fit: contain;
    margin: auto;
}

main {
    color: black;
    font-family: 'Source Serif Pro', serif;
}

header {
    background-color: #424242;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: strong;
}

.wikibody {
    color: #333;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
}

h2 {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 2%;
}

h3 {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 20px;
    text-align: center;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    width: 100px;
}

.bodytext {
    font-family: 'open sans', sans-serif;
    font-size: 20px;
    width: 90%;
}

.price {
    font-family: 'open sans', sans-serif;
    font-size: 20px;
    width: 90%;
    margin-top: 10%;
}

#pilotg2 {
    width: 90%
}

/*/ Table styling /*/
.tg {
    border-collapse: collapse;
    border-color: #ccc;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
}

.tg td {
    background-color: #fff;
    border-bottom-width: 1px;
    border-color: #ccc;
    border-style: solid;
    border-top-width: 1px;
    border-width: 0px;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    background-color: #f0f0f0;
    border-bottom-width: 1px;
    border-color: #ccc;
    border-style: solid;
    border-top-width: 1px;
    border-width: 0px;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg .tg-0pky {
    border-color: inherit;
    text-align: left;
    vertical-align: top
}

.tg1 {
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
}

.tg1 td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg1 th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg1 .tg-0pky1 {
    border-color: inherit;
    text-align: left;
    vertical-align: top
}

/*/ End Table Styling/*/

/*/ CSS to get the form working and nicely styled /*/
.contacttext {
    font-family: 'Source Serif Pro', serif;
    font-size: 25px;
    color: #222;
    text-align: center;
}

.form-style-1 {
    margin: 10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px 'Open Sans', sans-serif;
}

.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

.form-style-1 label {
    margin: 0 0 3px 0;
    padding: 0px;
    display: block;
    font-weight: bold;
}

/*/ Sanitizing input so that XSS is not possible and just to make the form work better. /*/
.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select {
    box-sizing: border-box;
    border: 1px solid #BEBEBE;
    padding: 7px;
    margin: 0px;
    outline: none;
}

.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus {
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}

.form-style-1 .field-divided {
    width: 49%;
}

.form-style-1 .field-long {
    width: 100%;
}

.form-style-1 .field-select {
    width: 100%;
}

.form-style-1 .field-textarea {
    height: 100px;
}

.form-style-1 input[type=submit],
.form-style-1 input[type=button] {
    background: #00aec5;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}

.form-style-1 input[type=submit]:hover,
.form-style-1 input[type=button]:hover {
    background: #4691A4;
    box-shadow: none;
}

.form-style-1 .required {
    color: red;
}

/*/ End form style /*/

/*/ Back to top button /*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #6b5b95;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #00aec5;
}

.button {
    display:block;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 1px solid red; 
  }
/*/ End button style /*/

/*/ Fade in animation /*/
.fadein {
    display: inline-block;
    animation: fadeIn linear 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*/ End fade in animation /*/

/*/ Custom Scrollbar /*/
::-webkit-scrollbar {
    width: 13px;
    height: 13px;
   }
   ::-webkit-scrollbar-thumb {
    background: linear-gradient(13deg, 6b5b95 14%,#00aec5 64%);
    border-radius: 10px;
   }
   ::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(13deg, #00aec5 14%,6b5b95 64%);
   }
   ::-webkit-scrollbar-track{
    background: #f0eee9;
    border-radius: 10px;
   }
/*/ End custom scrollbar /*/